.projectList
  .projectList__list
    height 100vh
    margin 0
    padding 0
    width 100vw
  .projectList__item
    display inline-block
    height 100vh
    position relative
    overflow hidden
    vertical-align top
    width 25vw
  .projectList__item img
    display block
    height 100%
    left 50%
    position absolute
    top 0
    transform translate3d(-50%, 0, 0)
